<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SMTConnection-DEV" connectionString="Server=localhost\localhost;Database=SocialShareSolution;User ID=sa;Password=danat123$;" providerName="System.Data.SqlClient"/>
    <add name="BGSConnectionString" connectionString="Server=localhost\localhost;Database=SocialShareSolution;User ID=sa;Password=danat123$;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>